%h1 Welcome to Jude's page.

<img src="https://s-media-cache-ak0.pinimg.com/236x/8c/ff/22/8cff22ad5b26878a179875d48d87475a.jpg">

A wonderful young bot to help you out with your assignment management as a student.

%br/

= erb :"slack_button"